// with JSX
<a href="https://facebook.github.io/react/">Hello!</a>

// without JSX
React.createElement('a', {
  href: 'https://facebook.github.io/react/'
  }, 'Hello!')


// with JSX
<ul className="mu-list">
  <li>First Text Content</li>
  <li>Second Text Content</li>
</ul>

// without JSX
var child1 = React.createElement('li', null, 'First Text Content');
var child2 = React.createElement('li', null, 'Second Text Content');
var root = React.createElement('ul', {
  className: 'my-list'
}, child1, child2);
